@font-face {
  font-family: "iconfont"; /* Project id 2342385 */
  src: url('iconfont.woff2?t=1640335135425') format('woff2'),
       url('iconfont.woff?t=1640335135425') format('woff'),
       url('iconfont.ttf?t=1640335135425') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liuyan:before {
  content: "\e744";
}

.icon-liuyan1:before {
  content: "\e655";
}

.icon-yunxiazai:before {
  content: "\e600";
}

.icon-yunduanshuaxin:before {
  content: "\ec60";
}

.icon-xingzuo:before {
  content: "\e674";
}

.icon-mojie:before {
  content: "\e616";
}

.icon-sheshou:before {
  content: "\e617";
}

.icon-shizi:before {
  content: "\e618";
}

.icon-shuangyu:before {
  content: "\e619";
}

.icon-shuangzi:before {
  content: "\e61a";
}

.icon-shuiping:before {
  content: "\e61b";
}

.icon-tiancheng:before {
  content: "\e61c";
}

.icon-tianxie:before {
  content: "\e61d";
}

.icon-jinniu:before {
  content: "\e61e";
}

.icon-gushenxing:before {
  content: "\e61f";
}

.icon-mingwangxing:before {
  content: "\e620";
}

.icon-zhanxing:before {
  content: "\e624";
}

.icon-haiwangxing:before {
  content: "\e625";
}

.icon-chunv:before {
  content: "\e610";
}

.icon-juxie:before {
  content: "\e612";
}

.icon-baiyang:before {
  content: "\e614";
}

.icon-zhanghumima:before {
  content: "\e60a";
}

.icon-people:before {
  content: "\e60b";
}

.icon-anquanyinsi:before {
  content: "\e98b";
}

